esphome:
  name: ble-proxy-cafe-1
  friendly_name: BLE Proxy Cafe 1

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:
  level: INFO

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  ap:
    ssid: "BLE-Proxy-Cafe-1"
    password: "concordble"

captive_portal:

# Bluetooth proxy - forwards all BLE advertisements to Home Assistant
esp32_ble_tracker:
  scan_parameters:
    active: true

bluetooth_proxy:
  active: true
